/* Setup Color */
:root {
    --brown-dark: rgb(59, 21, 11);
    --brown:#fcf7ea;
    --font-main: 'Andine', serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px; /* Atur ukuran font dasar */
}

/* Setup Font */
@font-face {
  font-family: 'Andine';
  src: url('src/fonts/Andine.woff2') format('woff2'),
       url('src/fonts/Andine.woff') format('woff'),
       url('src/fonts/Andine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body */

body {
  font-family: var(--font-main);
  position: relative;
  overflow-x: hidden;
}

* {
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--brown-dark);
}

/* Loader */
/* HTML: <div class="loader"></div> */

.page-loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--brown-dark);
  background:
    radial-gradient(1.13em at 50% 1.6em,var(--brown-dark) 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#0000 99%,var(--brown-dark) 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;
}
.loader:before {
  content: "Drama Arena";
}
@keyframes l9 {
  to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}

/* Hero */

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: black;
    z-index: 15;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.5); */
}

.hero img {
    max-height: 250px; /* Atur sesuai kebutuhan */
    height: auto;
    width: auto;
    filter: invert(1);
}

@media (max-width: 425px) {
    .hero img {
        max-height: 150px; /* Atur untuk layar kecil */
    }
}

.hero a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0.1rem solid white;
    border-radius: 4rem;
    transition: all 0.3s ease;
}

.hero a:hover {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #f0f0f0; */
    gap: 1rem;
    background-color: var(--brown); 
    padding-bottom: 40vh;  

    scroll-behavior: smooth;
}

@media screen and (min-width: 425px) {
    .gallery {
        gap: 0.5rem;
    }
}

.gallery .img {
    background-image: url('https://da5100.github.io/assets/img/portfolio/books-1.webp');
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    filter: brightness(0.8);
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.5);
    
    width: 30em;
    height: 20em;
    aspect-ratio: 3 / 2;      /* Maintain 2:1 ratio = ~600x300 */
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.5em;
    overflow: hidden;
    
    transition: all 0.3s ease;
}

.gallery .img:hover {
    /* transform: scale(1.05); */
    filter: brightness(1);
}

.gallery .img * {
    
    color: white;
    margin-left: 0.5em;
}

.gallery .img h2 {
    font-size: 1.2rem;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    line-height: 2;
}

.gallery .img p {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin-bottom: 2em;
    width: 80%;
}

/* .gallery img {
    z-index: 50;
    width: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    transform: rotate3D(1, 1, 0, deg);
}

@media screen and (min-width: 1024px) {
    .gallery img {
        max-height: 400px;
    }
}

.gallery img:first-child {
    margin-top: 1rem;
}

.gallery img:last-child {
    margin-bottom: -3rem;
} */
/* Text Animation */

.text-animation {
    background-color: var(--brown);
    
}

@media screen and (min-width: 1024px) {
    .text-animasi {
        z-index: 1000;
    font-size: 10vw;
}
}

@media screen and (min-width: 425px) {
    .text-animasi {
        z-index: 1000;
    font-size: 20vw;
}
}

/* Swiper */
.swiper {
  height: 100vh;
  
}

.swiper-embed {
    cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}

/* Navbar */

@media (max-width: 650px) {
  .navmenu {
    display: none;
  }

  .navbar {
    height: 7vh;
    width: 100%;
    z-index: 990;
    background-color: var(--brown);
    display: flex;
    position: sticky;
    bottom: 0px;
    justify-content: space-around;
    align-items: center;
  }

  .navbar ul {
    list-style-type: none;
    display: hide
  } 
  
  .navbar li {
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--brown-dark);
    opacity: 75%;    
  }
  
  .navbar li:hover {
    transform: translateY(-10px);
  }
}